<!DOCTYPE html>

<html lang="zh-CN">
	<head>
		<title>Ike's wiki</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>
	<body>
		<div class="headline">
			<div class="wrap">
				<div id="logo">
					<a href="/">Free Wiki</a>
					A class project
				</div>
				<div id="autharea">
					{% if user %}
					{{user}}(<a href="/logout">注销</a>)
					{% else %}
					<a href="/login">登录</a>|<a href="/signup">注册</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="mainfold wrap">
			{% block maintext %}
			{% endblock %}
		</div>
	</body>
</html>