<!DOCTYPE html>

<html lang="zh-CN">
	<head>
		<title>Ike's wiki</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>
	<body>
		<div class="headline">
			<div id="logo">
				<a href="#"></a>
			</div>
			<div id="autharea">
				<a href="#">登录</a>
			</div>
		</div>
		<div class="mainfold">
			<div class="leftside">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">随机页面</a></li>
					<li><a href="#">使用方法</a></li>
					<li><a href="#">关于</a></li>
				</ul>
			</div>
			<div class="main">
				<div id="header">
					<div id="title">我是标题</div>
					<div id="operation">可操作</div>
				</div>
				<div id="text">
				我是内容
				</div>
			</div>
		</div>
	</body>
</html>